.inline_block {
  max-width: 100%;
  display: inline-block;
}

.page_wrapper {
  z-index: 0;
  position: relative;
}

.container {
  width: 90vw;
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

.margin_bottom_medium {
  margin-bottom: 32px;
}

.paragraph_large {
  letter-spacing: -0.02em;
  font-size: 20px;
}

.section_timeline_heading {
  background-color: #0a0a0a;
}

.padding_vertical_xlarge {
  padding-top: 120px;
  padding-bottom: 120px;
}

.timeline_main_heading_wrapper {
  color: #fff;
  text-align: center;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.section_experience {
  overflow: visible;
}

.timeline_component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.timeline_item {
  z-index: 2;
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 100px 1fr;
  grid-auto-columns: 1fr;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.timeline_left {
  text-align: right;
  justify-content: flex-end;
  align-items: stretch;
}

.timeline_center {
  display: flex;
  justify-content: center;
}

.timeline_date_text {
  color: #fff;
  letter-spacing: -0.03em;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
  position: sticky;
  top: 50vh;
}

.timeline_text {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
}

.timeline_circle {
  background-color: #fff;
  border-radius: 100%;
  width: 15px;
  min-width: 15px;
  max-width: 15px;
  height: 15px;
  min-height: 15px;
  max-height: 15px;
  position: sticky;
  top: 50vh;
  box-shadow: 0 0 0 8px #0a0a0a;
}

.timeline_progress {
  z-index: -2;
  background-color: #414141;
  width: 3px;
  height: 100%;
  position: absolute;
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0,
    black 80px,
    black calc(100% - 80px),
    transparent 100%
  );

  mask-image: linear-gradient(
    to bottom,
    transparent 0,
    black 80px,
    black calc(100% - 80px),
    transparent 100%
  );
}

.timeline_progress_bar {
  position: absolute;
  inset: 0 auto 0 0;
  width: 3px;
  background: linear-gradient(#ff6a00, #ee0979);
  transform-origin: top;
  transform: scaleY(0);
  animation: grow linear both;
  animation-timeline: view(block);
  animation-range: entry 50% exit 50%;
}

@keyframes grow {
  to {
    transform: scaleY(1);
  }
}

.section_timeline {
  z-index: -3;
  background-color: #0a0a0a;
  position: relative;
}

.margin_bottom_xlarge {
  margin-bottom: 50px;
}

.timeline_link {
  opacity: 0.6;
  color: #fff;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border-radius: 8px;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  text-decoration: none;
  transition: opacity 0.3s;
  display: flex;
}

.timeline_link:hover {
  opacity: 1;
}

.link_icon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.text_color_lightgrey {
  color: #ffffffa6;
}

.overlay_fade_top {
  background-image: linear-gradient(rgba(13, 15, 43, 1), rgba(0, 0, 0, 0));
  height: 80px;
  position: absolute;
  inset: 0% 0% auto;
}

.overlay_fade_bottom {
  background-image: linear-gradient(rgba(13, 15, 43, 1), rgba(0, 0, 0, 0));
  height: 80px;
  position: absolute;
  inset: auto 0% 0%;
}

@media screen and (max-width: 767px) {
  .paragraph_large {
    font-size: 18px;
  }

  .padding_vertical_xlarge {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .timeline_item {
    grid-template-columns: 64px 1fr;
    width: 100%;
  }

  .timeline_left {
    text-align: left;
    grid-area: 1 / 2 / 2 / 3;
  }

  .timeline_center {
    justify-content: flex-start;
    grid-area: 1 / 1 / 3 / 2;
  }

  .timeline_right {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  .timeline_date-text {
    margin-bottom: 24px;
    font-size: 36px;
  }

  .timeline_text {
    font-size: 20px;
  }

  .timeline-progress {
    left: 6px;
  }

  .margin_bottom-xlarge {
    margin-bottom: 48px;
  }
}
