.greetings::before {
  background: linear-gradient(to right, #040b14 8%, transparent 100%);
  z-index: -2;
}

.wave {
  animation-name: waveAnimation;
  animation-duration: 2.1s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.rectangle {
  background: linear-gradient(to right, #040b14, rgb(190, 201, 229));
  z-index: -3;
  box-shadow: 0px 20px 30px 7px rgba(9, 21, 54, 0.25);
}

.rectangle_1 {
  transform-origin: 120% 254% 0;
  transform: scale(1) rotate(-10deg);
  animation: grow1 ease 1s forwards;
}

.rectangle_2 {
  transform-origin: 55% 100% 0;
  transform: scale(1) rotate(50deg);
  animation: grow2 ease 1s forwards;
}

.rectangle_transparent {
  z-index: -3;
  animation: floatingSlow ease-in-out 12s infinite;
}

.circle {
  z-index: -2;
  animation: fadeInFromTop 0.5s linear forwards, floating ease 4s infinite;
}

.triangle_1 {
  z-index: -2;
  animation: fadeInFromTop 0.5s linear forwards,
    floating ease-in-out 6s infinite;
}

.triangle_1 img {
  transform: rotate(30deg);
}

.triangle_2 {
  z-index: -2;
  animation: fadeInFromTop 0.5s linear forwards,
    floating ease-in-out 8s infinite;
}

.triangle_2 img {
  transform: rotate(15deg);
}

.triangle_3 {
  z-index: -2;
  animation: fadeInFromTop 0.5s linear forwards,
    floating ease-in-out 10s infinite;
}

.triangle_3 img {
  transform: rotate(40deg);
}

.triangle_4 {
  z-index: -2;
  animation: fadeInFromTop 0.5s linear forwards,
    floating ease-in-out 5s infinite;
}

.triangle_4 img {
  transform: rotate(-40deg);
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes waveAnimation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

@keyframes grow1 {
  from {
    opacity: 0;
    transform: scale(2) rotate(-10deg);
  }
  to {
    opacity: 01;
    transform: scale(1) rotate(-10deg);
  }
}

@keyframes grow2 {
  from {
    opacity: 0;
    transform: scale(2) rotate(50deg);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(50deg);
  }
}

@keyframes floatingSlow {
  0% {
    transform: translate(0%, 0%) rotate(25deg);
  }
  25% {
    transform: translate(1%, 3%) rotate(25deg);
  }
  50% {
    transform: translate(2%, 1%) rotate(25deg);
  }
  75% {
    transform: translate(0%, 3%) rotate(25deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(25deg);
  }
}

@keyframes fadeInFromTop {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes floating {
  0% {
    transform: translate(0%, 0%) rotate(25deg);
  }
  25% {
    transform: translate(5%, 15%) rotate(25deg);
  }
  50% {
    transform: translate(10%, 5%) rotate(25deg);
  }
  75% {
    transform: translate(0%, 15%) rotate(25deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(25deg);
  }
}

@media only screen and (max-width: 600px) {
  .rectangle_1 {
    transform-origin: 210% 380% 0;
  }

  .rectangle_2 {
    transform-origin: 20% -200% 0;
  }
}

@media only screen and (max-width: 1024px) {
  .greetings::before {
    background: linear-gradient(to right, #040b14 15%, transparent 100%);
  }
  
  .rectangle_1 {
    transform-origin: 175% 347% 0;
  }

  .rectangle_2 {
    transform-origin: 32% -25% 0;
  }
}
