@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: scroll;
}

/* Hide Body Scrollbar */
body::-webkit-scrollbar {
  display: none;
}

/* Scrollbar Width */
::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #bec9e5;
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #040b14;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1a2232;
}

/* Border rotation animation */

@keyframes rotate-angle {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
