# Silence Dot ENV logs
DOTENV_CONFIG_QUIET=true

# Environment
NEXT_PUBLIC_NODE_ENV=development

# Ports
NEXT_PUBLIC_BASE_PORT=1995

# Versions
NEXT_PUBLIC_BASE_VERSION=v1

# URLs
NEXT_PUBLIC_BASE_URL=http://localhost:1995